/*
browser.css

Styling for the maps application.
*/

/* Some modifications to 960.gs */
.quickspot-results {
	width:300px;
	background:#fff;
	position:absolute;
	max-height:380px;
	overflow:auto;
	border:solid 1px #08c;
	border-radius: 4px;
	border-top-left-radius: 0px;
}
.quickspot-results .quickspot-result {
	padding:8px 10px;
	display:block;
	text-decoration: none;
	cursor:pointer;

}
.quickspot-results .quickspot-result.selected{
	background:#08c;
	color:#fff;
}






#content .maps .search_bar ul.advsearch_links{
	float: left;
	list-style: none;
	margin: 0px;
	position: relative;
	padding-top: 1px;
	z-index: 500;
}

#content .maps .search_bar ul.advsearch_links li.advsearchlink{
	display: block;
	float: left;
	margin: 0px;
	cursor: pointer;
}

#content .maps .search_bar ul.advsearch_links li.advsearchlink:hover{
    color: white;
	border: none;
}

#content .maps .search_bar ul.advsearch_links li.advsearchlink.last{
	border-right: 1px solid #999999;
}

#content .maps .search_bar ul.advsearch_links li.advsearchlink > a{
	color: #FFF;
	font-size: 1.2em;
	padding: 2px 20px 2px 10px;
	margin-right: 10px;
	height: 52px;
	line-height: 52px;
}

#content .maps .search_bar ul.advsearch_links li.advsearchlink:hover > a{
	color: #ccc;
	text-decoration: none;
}

#content .maps .search_bar ul.advsearch_links li.advsearchlink.first a{
	border: none;
}

#content .maps .search_bar ul.advsearch_links  li.advsearchlink .megamenu{
	top: 53px;
	right: 2px;
	margin: 0;
	padding: 0px;
	position: absolute;
	background: none;
}

#content .maps .search_bar ul.advsearch_links li.advsearchlink .megamenu li{
	color: black;
	margin: 0;
	padding: 0;
}

#content .maps .search_bar ul.advsearch_links li.advsearchlink .megamenu a{
	color: #4A7194;
	margin: 0;
	padding: 0;
	border: none;
}


.navbar-search {
	float: left;
}

.navbar-search input[type="text"]{


	height: 29px;
	line-height: 29px;
	width: 250px;
	border: 1px solid;
	padding-left: 4px;
	padding-right: 27px;
	font-size: 1.1em;
}















#key-facts {
    background-color: #eee;
    padding: 20px;
    font-size: 1.1em;
    border-radius: 5px;
/*     box-shadow: 1px 1px 3px rgba(126,126,126,0.3); */
    margin-top: 20px;
/*     width: 250px; */
}

#key-facts ul li {
    margin: 0px;
}
#key-facts ul {
    margin: 0px;
}
#key-facts li {
    list-style: none;
    padding: 5px 0px 5px 0px;
    margin: 0px;
}






.container_12 .grid_12{
	margin: 0;
	width: 960px;
}

.container_12 .grid_4.omega{
	width: 320px;
}

.container_12 .grid_5.omega{
	width: 400px;
}

.container_12 .grid_8.omega {
	width: 640px;
}

.container_16 .grid_16{
	margin: 0;
	width: 960px;
}

.container_16 .grid_6.omega{
	width: 360px;
}

.half-width{
	float:left;
	display:inline;
	width:50%;
}


/*------------------------------------*/

/* Some modifications to the Chronos template */

#contentContainerNoMenu #content {
	padding-top: 0;
}

/*------------------------------------*/

/* Some general styles */

#content .maps h1{
	margin-top: 15px;
}

#content .maps p.tabbed{
	margin-left: 20px;
}

#content .maps ul.no-bullet{
	list-style: none;
	margin-left: 20px;
}

#content .maps ul.no-bullet li{
	margin-left: 0;
}

#content .maps ul.find-us-with{
	list-style:none;
	margin-left:0px;
}

#content .maps ul.find-us-with li{
	float:left;
}

#content .maps ul li.google-maps,
#content .maps ul li.bing-maps,
#content .maps ul li.yahoo-maps,
#content .maps ul li.pdf{
	list-style: none;
	margin-left: 0px;
	padding-left: 25px;
	background-position: 1px 0px;
	background-repeat: no-repeat;
}


#content .maps ul li.google-maps{
	background-image: url(../images/design/google-maps-bullet.jpg);
}

#content .maps ul li.bing-maps{
	background-image: url(../images/design/bing-maps-bullet.jpg);
}

#content .maps ul li.yahoo-maps{
	background-image: url(../images/design/yahoo-maps-bullet.jpg);
}


#content .maps ul li.pdf{
	background-image: url(../images/design/pdf-bullet.jpg);
	padding-bottom:2px;
}

#content .maps .map{
	width: 100%;
}

/*------------------------------------*/

/* The search bar */

#content .maps .search_bar{
	background-color: #6D7278;
	margin-bottom: 1px;
}

#content .maps .search_bar .search_box{
	float: left;
	margin: 10px;
}

#content .maps .search_bar .search_box input[type="text"]{
	float: left;
	border: none;
	height: 29px;
	line-height: 29px;
	width: 250px;
	background: url(../images/design/search-back.jpg);
	padding-left: 4px;
	padding-right: 27px;
	font-size: 1.1em;
}

#content .maps .search_bar ul.search_links{
	float: right;
	list-style: none;
	margin: 0px;
	position: relative;
	padding-top: 1px;
	z-index: 500;
}

#content .maps .search_bar ul.search_links li.toplink{
	display: block;
	float: left;
	margin: 0px;
	cursor: pointer;
}

#content .maps .search_bar ul.search_links li.toplink:hover{
	background: #FFFFFF;
	border: none;
}

#content .maps .search_bar ul.search_links li.toplink.last{
	border-right: 1px solid #999999;
}

#content .maps .search_bar ul.search_links li.toplink > a{
	color: #FFF;
	font-size: 1.2em;
	padding: 2px 20px 2px 10px;
	margin-right: 10px;
	background: transparent url(../images/design/search-links-arrow.png) 100% 50% no-repeat;
	height: 52px;
	line-height: 52px;
}

#content .maps .search_bar ul.search_links li.toplink:hover > a{
	color: #4f4f4f;
	background-image: url(../images/design/search-links-arrow-hover.png);
	text-decoration: none;
}

#content .maps .search_bar ul.search_links li.toplink.first a{
	border: none;
}

#content .maps .search_bar ul.search_links  li.toplink .megamenu{
	top: 53px;
	right: 2px;
	margin: 0;
	padding: 0px;
	position: absolute;
	background: none;
}

#content .maps .search_bar ul.search_links li.toplink .megamenu li{
	color: black;
	margin: 0;
	padding: 0;
}

#content .maps .search_bar ul.search_links li.toplink .megamenu a{
	color: #4A7194;
	margin: 0;
	padding: 0;
	border: none;
}

#content .maps .search_bar ul.search_links  li.toplink .megamenu .maps_megacontentarea{
	border: 1px solid #999999;
	border-width: 0px 1px 1px 1px;
	background: #FFFFFF;
	width: 100%;
	padding: 0px;
	margin: 0;
}


#content .maps .search_bar ul.search_links  li.toplink .megamenu .maps_megacontentarea .megacontentsection{
	padding: 5px 5px 5px 15px;
	font-size: 1.2em;
	height:25px;
}

#content .maps .search_bar ul.search_links  li.toplink .megamenu .maps_megacontentarea .megacontentsection img{
	width: 80px;
	height: auto;
	float: left;
	margin-bottom: 0;
	border: 1px solid #152911;
}

#content .maps .search_bar ul.search_links  li.toplink .megamenu .maps_megacontentarea .megacontentsection h3{
	margin-bottom: 3px;
}

#content .maps .search_bar ul.search_links  li.toplink .megamenu .maps_megacontentarea .megacontentsection h3,
#content .maps .search_bar ul.search_links  li.toplink .megamenu .maps_megacontentarea .megacontentsection ul{
	margin-left: 10px;
}

#content .maps .search_bar ul.search_links  li.toplink .megamenu .maps_megacontentarea .megacontentsection ul{
	list-style: none;
}

#content .maps .search_bar ul.search_links  li.toplink .megamenu .maps_megacontentarea .megacontentsection li{
	margin: 0;
	line-height: 1.4em;
}

#content li.toplink .megamenu .maps_megacontentarea{
	padding-top: 15px !important;
}
/*------------------------------------*/

/* The search bar */

#content .maps .campuses .search_box{
	float: left;
	margin: 0px;
	border: 1px solid #999999;
}

#content .maps .campuses .search_box input[type="text"]{
	float: left;
	border: none;
	line-height: 29px;
	width: 250px;
	background: url(../images/design/search-back.jpg);
}

#content .maps .campuses .search_box input[type="text"]{
	float: left;
}

/*------------------------------------*/


/* The breadcrumbs bar */

#content .maps .breadcrumbs_bar{
	/*background-color: #6D7278;*/
	background: url("http://static.kent.ac.uk/pantheon/images/Chronos/layout/utilityBarBackground.jpg") repeat-x scroll 0 0 transparent;
	height:24px;
}

#content .maps .breadcrumbs_bar ul#map_breadcrumbs{
	list-style: none;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

#content .maps .breadcrumbs_bar ul#map_breadcrumbs li{
	display: inline;
	float: left;
	padding: 0px 20px 0px 10px;
	margin: 0;
	line-height: 32px;
	background: transparent url(../images/design/breadcrumbs-divider.png) top right no-repeat;
}

#content .maps .breadcrumbs_bar ul#map_breadcrumbs li.first{
	padding-left: 0px;
}

#content .maps .breadcrumbs_bar ul#map_breadcrumbs li a{
	color: #FFF;
	font-size: 1.1em;
}

#content .maps .breadcrumbs_bar ul#map_breadcrumbs li a:hover{
	text-decoration: none;
}

#utilityBar #breadcrumbs{
	margin-left:0;
}

#breadcrumbs ul{
	margin:0;
}

#breadcrumbs ul li{
	font-size: 0.9em;
	padding: 0;
	margin: 0 0 0 10px;
}

#breadcrumbs ul li a:visited{
	text-decoration:none;
	color: #061e44;
}
#breadcrumbs ul li a:hover{
	text-decoration:none;
	color: #937227;
}

#utilityBar #socialEvangeliser{
	float:right;
}

/*------------------------------------*/


/* Home page*/

#content .maps .index_right h2{
	color: white;
	background-color: #343434;
	margin: 0;
	margin-top: 15px;
	padding: 5px 10px;
	
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

	/* IE 5-7 */
	filter: alpha(opacity=70);

	/* Netscape */
	-moz-opacity: 0.7;

	/* Safari 1.x */
	-khtml-opacity: 0.7;

	/* Good browsers */
	opacity: 0.7;
}

#content .maps .index_right .list_over_img{
	overflow: auto;
	position: relative;
	height: 207px;
	background-color: #DDD;
}

.kent_campus_example {
	background-image: url(../images/design/kentmap2.jpg);
}

#content .maps .index_right .list_over_img.kent_campus_example{
	height: 250px;
}

.medway_campus_example {
	background-image: url(../images/design/medwaymap.jpg);
}

#content .maps .index_right .list_over_img.medway_campus_example{
	height:162px;
}

#content .maps .index_right .list_over_img ul{
	list-style: none;
	position: absolute;
	bottom: 5px;
	right: 0px;
	margin: 0;
}

#content .maps .index_right .list_over_img ul li{
	width: 200px;
	background-color: #244621;
	padding: 5px;
	margin: 0 0 1px 0;

}

#content .maps .index_right .list_over_img ul li a{
	color: #FFF;
	font-size: 1.2em;
	display:block;
	width: 200px;
}

#content .maps .index_right .list_over_img ul li a:hover{
	text-decoration: none;
}

#content .maps .index_links{
	margin-top: 15px;
	font-size: 1.2em;
}

#content .maps .index_links img{
	width: 80px;
	height: auto;
	float: left;
	margin-bottom: 0;
	border: 1px solid #152911;
}

#content .maps .index_links h3{
	margin-bottom: 3px;
}

#content .maps .index_links h3,
#content .maps .index_links ul{
	margin-left: 100px;
}

#content .maps .index_links ul{
	list-style: none;
}

#content .maps .index_links li{
	margin: 0;
	line-height: 1.4em;
}

/*------------------------------------*/


/* Buildings page*/

#content .maps .building-maps .map{
	height: 300px;
	margin-top: 0;
	margin-bottom: 5px;
}

#content .maps .building-maps-large .map{
	margin-top: 0;
}

img.building-image{
	width:320px;
	height:240px;
	padding-bottom:10px;
}

.second-row{
	margin-top:10px;
}

.grid4 .omega .second-row div.chzn-drop{
	width:263px;
}

/*------------------------------------*/


/* Campuses page*/

#content .maps .campus-map .map{
	margin-top: 0;
}

.chzn-container{
	margin-bottom:10px;
}

#content #maps .grid_4.beta.second-row .chzn-container-single .chzn-drop, 
#content #maps .grid_4.omega.second-row .chzn-container-single .chzn-drop {
	height:220px;
}

#content #maps .grid_4.beta.second-row .chzn-container .chzn-drop .chzn-results,
#content #maps .grid_4.omega.second-row .chzn-container .chzn-drop .chzn-results {
	height:180px;
}

/*------------------------------------*/


/* Regions page*/

#content .maps .region-map .map{
	margin-top: 0;
}

/*------------------------------------*/