/*
livesearch.css

Stylng for the AJAX search.
*/
#jquery-live-search {
	background: #fff;

	padding: 5px 10px;
	max-height: 400px;
	overflow: auto;

	width: 281px;
	padding-right: 33px;

	position: absolute;
	z-index: 99;

	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

	padding-bottom: 20px;
}

#jquery-live-search ul{
	list-style-type:none;
}

#jquery-live-search li {

	font-size: 1.5em;

}

#jquery-live-search li:hover,#jquery-live-search li.selected{
	background:#06210f;
	color:white;
}

#jquery-live-search ul li a{
	margin-top: 10px;
	text-decoration: none;
	display:block;
	color:#1f4f82;
	padding:10px;
}

#jquery-live-search li a:hover, #jquery-live-search li.selected a{
	color:white;
}