/public/config/paths.php
/public/config/config.php
/config/config.php
/menubin/
vendor/
bin/
cache/
composer.lock
composer.phar
.DS_Store
node_modules
.htaccess
/public/undergraduate
/public/postgraduate
/public/postgrad
/public/menu
.idea/
/app/config.php
