/* general course page styles */
.daedalus .general_disclaimer {
	margin-top: 100px;
	padding: 20px 0 20px 0;
	border-top: 1px solid rgb(221, 221, 221);
}

.daedalus .well {
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.daedalus .alert {
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 30px;
}

.daedalus .info-section {
	padding-bottom: 30px;
}

.daedalus .info-section h3 {
	border-bottom: 1px solid rgb(221, 221, 221);
}

.daedalus .info-subsection {
	padding: 5px 0;
}

.daedalus .well {
	height: 100px;
	padding: 20px;
}

/* key facts box */
.daedalus .key-facts-container {
/* 		border-top: 4px solid #000f42; */
/* 	border-top: 2px solid rgb(221, 221, 221); */
	margin-left: 20px;
}

.daedalus .key-facts {
/*
	border-top: 1px solid #000f42;
	border-bottom: 1px solid #000f42;
*/
	border-top: 1px solid rgb(221, 221, 221);
	border-bottom: 1px solid rgb(221, 221, 221);
	padding: 20px 0;
}

.daedalus .key-facts li {
	padding: 4px 0;
}


/* module listings */

.daedalus .module-read-more {
	padding-bottom: 20px;
}

.daedalus .module-synopsis {
	padding-left: 15px;
}


/* related course carousel */
.daedalus .carousel-control {
	color: #fff;
	text-decoration: none;
	opacity: 0.7;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.daedalus .carousel-control:hover {
	color: #fff;
	text-decoration: none;
	opacity: 0.9;
}

.daedalus .related-course .cell {
	width: 220px;
	height: 150px;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.daedalus .related-course .cell p {
	font-size: 14px;
	font-weight: bold;
	position: relative;
	color: #000f42;
	padding: 10px 0px 0 0px;
	text-align: center;
}

.daedalus .related-course .mask {
	padding: 10px;
	width: 200px;
	height: 100px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 1;
	background-color: rgba(217, 237, 247, 0.5);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.daedalus .related-course .mask:hover {
	opacity: 0.6;
}

