/* general course page styles */
.daedalus .general_disclaimer {
	margin-top: 100px;
	padding: 20px 0 20px 0;
	border-top: 1px solid rgb(221, 221, 221);
}

.daedalus .well {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.daedalus .alert {
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 30px;
}

.daedalus .info-section {
	padding-bottom: 30px;
}

.daedalus .info-section h3 {
	border-bottom: 1px solid rgb(58, 135, 173);
}

.daedalus .info-subsection {
	padding: 5px 0;
}

.daedalus .well {
	padding: 20px;
}

/* key facts box */
.daedalus .key-facts-container {
/* 		border-top: 4px solid #000f42; */
/* 	border-top: 2px solid rgb(221, 221, 221); */
	margin-left: 20px;
}

.daedalus .key-facts {
/*
	border-top: 1px solid #000f42;
	border-bottom: 1px solid #000f42;
*/
	border-top: 1px solid rgb(58, 135, 173);
	border-bottom: 1px solid rgb(58, 135, 173);
	padding: 20px 0;
	/*background-color: rgb(217, 237, 247);*/
}

.daedalus .key-facts li {
	padding: 4px 0;
}


/* module listings */

.daedalus .module-read-more {
	padding-bottom: 20px;
}

.daedalus .module-synopsis {
	padding-left: 15px;
}


/* related course carousel */
.daedalus .carousel-control {
	color: #fff;
	text-decoration: none;
	opacity: 0.7;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.daedalus .carousel-control:hover {
	color: #fff;
	text-decoration: none;
	opacity: 0.9;
}

.daedalus .carousel {
	margin-top: 20px;
}

.daedalus .carousel-inner {
	margin-left:100px;
	width: 750px;
}

.daedalus .related-course {
	margin-left:70px;
}

.daedalus .related-course .cell {
	width: 160px;
	height: 120px;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.daedalus .related-course .cell p {
	font-size: 14px;
	position: relative;
	color: #000f42;
	text-align: center;
}

.daedalus .related-course .mask {
	padding: 20px;
	width: 120px;
	height: 120px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 1;
/*
	background-color: rgba(217, 237, 247, 0.5);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
*/
}

.daedalus .related-course .mask:hover {
	opacity: 0.6;
}

.daedalus .related-course-section {
	padding: 30px 0;
}

#subjects {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding:6px;
}

#subjects a {
	display:block;
	padding: 6px 2px;
	text-decoration: none;
}
#subjects a:hover {
	background-color:#eee;
	color:inherit;
}

.nav-tabs{
	/*border-bottom-color: rgb(58, 135, 173);*/
}

.nav-tabs li.active a{
	/*background-color: #e9e9e9;*/
}

.nav-tabs li.active a{
	/*border-color: rgb(58, 135, 173);
	border-bottom-color: white;*/
}

.daedalus .advanced-search {
	margin-bottom: 120px;
}

.daedalus .advanced-search-boxes {
	
}

.daedalus .advanced-search-table {
	
}

.daedalus #programme-list {
	border-radius: 0px;
}

.daedalus th, td {
	border-radius: 0px !important;
}

.daedalus .advanced-text-search {
	border-radius: 0px;
	width: 303px;
}

.daedalus .advanced-search-boxes {
	margin: 30px 0;
}

.daedalus li span.btn {
	text-align: left;
}