.course-listing {
	padding-top:1rem;
}

tr.module-row{
    cursor: pointer;
}
tr.module-row .module-title{
    color:  #005689;
}

tr.module-row .module-title:before{
    padding-right: .5rem;
    font-family: "kentfont", sans-serif;
    content: "\f106"
}

tr.module-row.collapsed .module-title:before{
    content: "\f107";
}


tr td.more{
    font-size: .9rem;
    padding: 0 1rem 1rem;
}

tr.collapsing td,
tr.collapse.in td{
    border-top:0;
}

.filter-box .search-select select, #course-filter-container input{
	width: 100%;
}
.filter-box .search-select select {
	margin-bottom:.5rem;
}
#course-filter-container, #profile-filter-container {
	position: relative;
}
#course-filter-container::before, #profile-filter-container::before {
	content: "";
	font-family: "kentfont", sans-serif;
	font-size: 20px;
	position: absolute;
	left: 10px;
	top: 4px;
	color: #A5A5A5;
}
#course-filter-container input {
	padding-left:35px;
}

@media (min-width: 768px){
	.filter-box .search-select {
		display: inline;
	}
	.filter-box .search-select select{
		width: 19%;
	}
	#course-filter-container input {
		width:50%;
	}
}

.sidebar li i{
    line-height: 1.5rem;
}

.card.card-overlay.student-profiles{
    margin-top:4rem;
    margin-bottom: 1.5rem;
}

.student-profiles .slick-list,
.student-profiles .slick-track
{
    overflow: visible;
}

.profile-filter-box #profile-filter-container input {
	padding-left:35px;
}

@media (min-width: 768px){
	.profile-filter-box#filter_box div {
		display:inline-block;
		vertical-align: top;
	}
	.profile-filter-box#filter_box div select{
		width: 200px;
	}
	.profile-filter-box#filter_box #profile-filter-container {
		width:40%;
	}
	.profile-filter-box#filter_box #profile-filter-container input {
		width: 100%;
	}
}