@import "variables.less";
@import (less) 'DT_bootstrap.css';

.container .dataTables_filter {
	padding: 10px;
	background-color: #fbf7eb;
	margin-bottom:10px;
	label {
		float:none;
		margin-bottom: 0;

		 input {
			border-radius: 0;
			margin-left:10px;
		}
	}
}

// QS top corner styles
.qs-search-box {
	padding:20px;
	background-color:#fbf7eb;
	padding-bottom:15px;
}
.qs-search-box .quickspot-container input {
	height: 28px; 
	border-radius:0;
	margin:0;
}
.qs-search-box button.btn {
	margin:0;
}
.qs-search-box .quickspot-container .quickspot-results{
	top:36px;
	width: 290px;
}
.qs-search-box .quickspot-results .quickspot-result span {
	color:#937227;
	font-size:0.9em;
}
.qs-search-box .text-right > a {
	font-size: 0.85em;
    padding-top: 4px;
}

@media (max-width: 768px) {
	.qs-search-box .quickspot-container input {
		height: 37px; 
	}
}
@media (max-width: 580px) {
	.qs-search-box {
		float:none;
	}

	.qs-search-box .quickspot-container .quickspot-results {
		
		width: 100%;
	}
}

#level-info,.credits-help {
	cursor: help;
	outline:none;
	&:hover,&:focus,&:active{
		outline: none;
	}
}

.daedalus .popover{
	background-color:#333333;
	border-radius: 0;

	.popover-title{
		padding-right: 30px;
		background-color: #333333;
		font-size: 14px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
		font-weight: bold;
		color: white;
		position: relative;
		border:none;
		&:after{
			content: "\f00d";
			font-family: "FontAwesome",sans-serif;
			position: absolute;
			right:6px;
			top:6px;
			font-size: 1.2em;
			opacity: 0.4;
		}
	}

	.popover-content, a{
		color: white;
		font-size: 14px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
	}
	.arrow:after{
		border-top-color: #333333;
	}
}

.key-facts-block {
	padding:20px;
	margin-bottom: 2em;
}

tr.inactive td, .table-striped tbody > tr:nth-child(odd).inactive > td{
	background: #e8e8e8;
	color: #666;
}
.kf-check{
	color: #2B5A23;
}
.kf-close{
	color:#880000;
}

table.deliveries{
	margin: 25px 0 !important;
	tr{
		td{
			vertical-align: middle;
		}
	}
}

.advanced-search-boxes {
	padding: 10px 0 0;
	overflow: hidden;
	box-sizing: border-box;
	background-color: @cream;

	.advanced-search-filters {

		.advanced-text-search {
			width: 100%;
			display: inline-block;
			box-sizing: border-box;
			min-height: 30px;
		}

		select{
			box-sizing: border-box;
			width:100%;
		}

		.search-filter,.search-select{
			float:left;
			display: inline-block;
			width: 100%;
			padding: 0 10px;
			box-sizing: border-box;
		}

		@media (min-width: 600px) {
			.search-filter{
				span{
					position: absolute;
					padding-top: 5px;
				}
				.advanced-text-search {
					width:202px;
					margin-left:63px;
				}
				width: 275px;
				white-space: nowrap;
				overflow: hidden;
				padding-right: 0;
				position: relative;
			}
			.search-select {
				width: 295px;
				padding-right:0;
			}
		}
	}
}