table.deliveries i{
	color: #05345C;
}

.session-info {
	margin-top:1rem;
	margin-bottom:2rem;
}
small.content-full  {
	padding-top:2rem;
}

.content-aside h3 {
	font-weight: bold;
}

.session-info::before,
.content-aside h3::before {
	color: #937227;
	padding-right:.5rem;
    vertical-align: top;
}

a[data-toggle="popover"]::after {
	content: "\f059";
	font-family: "kentfont";
	margin-left: .3rem;
}

.content-full .key-info {
	margin-bottom:2rem;
	margin-top:2rem;
	border-bottom: 1px solid #e6e6e6;
	padding: 1rem;
}
.content-full .key-info h3 {
		font-weight:bold;
		font-size: 1.2rem;
}
.content-full .key-info h3::before {
	color: #937227;
	line-height: 1.2rem;
	padding-bottom: 3px;
	padding-right: 6px;
}

.panel-primary-tint {
	background-color: #f1f4f9;
}

.current-year {
	position:relative;
	top:0.5rem;
}

@media (max-width:767px) {
	.content-full .key-info {
		padding: 1rem 0;
	}
	.key-info-text {
		padding: 0.5rem 2rem;
	}
	.key-info-year {
		padding: 0.5rem 0;
	}
	.current-year {
		top:1rem;
		left: 0;
	}
}

@media (min-width: 992px){
	div.content-main {
		min-height: 280px;
	}
}

@media (min-width:768px) {
	.module-search {
		padding-top: 1.5rem;
	}
}

@media (min-width:768px) {
	.module-search + .breadcrumb {
		padding: 0 0 1.5rem 0;
	}
}
