.module-listing {
	padding: 1rem 0;
}
#filter_box select, #filter_box input{
	width: 100%;
	margin-top:.5rem;
}
.module-filter-container {
	position: relative;
}
.module-filter-container::before {
	content: "";
	font-family: "kentfont", sans-serif;
	font-size: 20px;
	position: absolute;
	left: 10px;
	top: 11px;
	color: #A5A5A5;
}
.module-filter-container input {
	padding-left:35px;
}

@media (min-width: 768px){
	#filter_box div {
		display:inline-block;
	}
	#filter_box div select{
		width: 200px;
	}
	#filter_box .module-filter-container {
		width:40%;
	}
	#filter_box .module-filter-container input {
		width: 100%;
	}
}

table.deliveries i{
	color: #05345C;
}

.session-info {
	margin-top:1rem;
	margin-bottom:2rem;
}
small.content-full  {
	padding-top:2rem;
}

.content-aside h3 {
	font-weight: bold;
}

.session-info::before,
.content-aside h3::before {
	color: #937227;
	padding-right:.5rem;
    vertical-align: top;
}

a[data-toggle="popover"]::after {
	content: "\f059";
	font-family: "kentfont";
	margin-left: .3rem;
}

.content-full.key-info {
	margin-bottom:2rem;
	margin-top:2rem;
	text-align: center;
}
.content-full.key-info h3 {
		font-weight:bold;
		font-size: 1.2rem;
}
.content-full.key-info h3::before {
	color: #937227;
	line-height: 1.2rem;
	padding-bottom: 3px;
	padding-right: 6px;
}

@media (min-width: 992px){
	div.content-main {
		min-height: 280px;
	}
}

.module-search {
	padding-top: 0.8rem;
}

.module-search + .breadcrumb {
	padding: 0 0 1.5rem 0;
}


@media (max-width:992px) {
	.module-search {
		padding-top: 0;
	}
}
