div.dataTables_length label {
  float: left;
  text-align: left;
}
div.dataTables_length select {
  width: 75px;
}
div.dataTables_filter label {
  float: right;
}
div.dataTables_info {
  padding-top: 8px;
}
div.dataTables_paginate {
  float: right;
  margin: 0;
}
table.table {
  clear: both;
  margin-bottom: 6px !important;
  max-width: none !important;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}
table.table thead .sorting {
  background: url('images/sort_both.png') no-repeat center right;
}
table.table thead .sorting_asc {
  background: url('images/sort_asc.png') no-repeat center right;
}
table.table thead .sorting_desc {
  background: url('images/sort_desc.png') no-repeat center right;
}
table.table thead .sorting_asc_disabled {
  background: url('images/sort_asc_disabled.png') no-repeat center right;
}
table.table thead .sorting_desc_disabled {
  background: url('images/sort_desc_disabled.png') no-repeat center right;
}
table.dataTable th:active {
  outline: none;
}
/* Scrolling */
div.dataTables_scrollHead table {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div.dataTables_scrollBody table {
  border-top: none;
  margin-bottom: 0 !important;
}
div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
  border-top: none;
}
div.dataTables_scrollFoot table {
  border-top: none;
}
/*
 * TableTools styles
 */
.table tbody tr.active td,
.table tbody tr.active th {
  background-color: #08C;
  color: white;
}
.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
  background-color: #0075b0 !important;
}
.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
  background-color: #017ebc;
}
table.DTTT_selectable tbody tr {
  cursor: pointer;
  *cursor: hand;
}
div.DTTT .btn {
  color: #333 !important;
  font-size: 12px;
}
div.DTTT .btn:hover {
  text-decoration: none !important;
}
ul.DTTT_dropdown.dropdown-menu a {
  color: #333 !important;
  /* needed only when demo_page.css is included */

}
ul.DTTT_dropdown.dropdown-menu li:hover a {
  background-color: #0088cc;
  color: white !important;
}
/* TableTools information display */
div.DTTT_print_info.modal {
  height: 150px;
  margin-top: -75px;
  text-align: center;
}
div.DTTT_print_info h6 {
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  margin: 1em;
}
div.DTTT_print_info p {
  font-size: 14px;
  line-height: 20px;
}
/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even {
  background-color: white;
}
div.DTFC_LeftHeadWrapper table {
  margin-bottom: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div.DTFC_LeftBodyWrapper table {
  border-top: none;
  margin-bottom: 0 !important;
}
div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
  border-top: none;
}
div.DTFC_LeftFootWrapper table {
  border-top: none;
}
.daedalus-tabs .dataTables_wrapper .row {
  margin-left: 0;
}
.container .dataTables_filter {
  padding: 10px;
  background-color: #fbf7eb;
  margin-bottom: 10px;
}
.container .dataTables_filter label {
  float: none;
  margin-bottom: 0;
}
.container .dataTables_filter label input {
  border-radius: 0;
  margin-left: 10px;
}
.qs-search-box {
  padding: 20px;
  background-color: #fbf7eb;
  padding-bottom: 15px;
}
.qs-search-box .quickspot-container input {
  height: 28px;
  border-radius: 0;
  margin: 0;
}
.qs-search-box button.btn {
  margin: 0;
}
.qs-search-box .quickspot-container .quickspot-results {
  top: 36px;
  width: 290px;
}
.qs-search-box .quickspot-results .quickspot-result span {
  color: #937227;
  font-size: 0.9em;
}
.qs-search-box .text-right > a {
  font-size: 0.85em;
  padding-top: 4px;
}
@media (max-width: 768px) {
  .qs-search-box .quickspot-container input {
    height: 37px;
  }
}
@media (max-width: 580px) {
  .qs-search-box {
    float: none;
  }
  .qs-search-box .quickspot-container .quickspot-results {
    width: 100%;
  }
}
#level-info,
.credits-help {
  cursor: help;
  outline: none;
}
#level-info:hover,
.credits-help:hover,
#level-info:focus,
.credits-help:focus,
#level-info:active,
.credits-help:active {
  outline: none;
}
.daedalus .popover {
  background-color: #333333;
  border-radius: 0;
}
.daedalus .popover .popover-title {
  padding-right: 30px;
  background-color: #333333;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
  font-weight: bold;
  color: white;
  position: relative;
  border: none;
}
.daedalus .popover .popover-title:after {
  content: "\f00d";
  font-family: "FontAwesome", sans-serif;
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 1.2em;
  opacity: 0.4;
}
.daedalus .popover .popover-content,
.daedalus .popover a {
  color: white;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
}
.daedalus .popover .arrow:after {
  border-top-color: #333333;
}
.key-facts-block {
  padding: 20px;
  margin-bottom: 2em;
}
tr.inactive td,
.table-striped tbody > tr:nth-child(odd).inactive > td {
  background: #e8e8e8;
  color: #666;
}
.kf-check {
  color: #2B5A23;
}
.kf-close {
  color: #880000;
}
table.deliveries {
  margin: 25px 0 !important;
}
table.deliveries tr td {
  vertical-align: middle;
}
.advanced-search-boxes {
  padding: 10px 0 0;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #f9f4e7;
}
.advanced-search-boxes .advanced-search-filters .advanced-text-search {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  min-height: 30px;
}
.advanced-search-boxes .advanced-search-filters select {
  box-sizing: border-box;
  width: 100%;
}
.advanced-search-boxes .advanced-search-filters .search-filter,
.advanced-search-boxes .advanced-search-filters .search-select {
  float: left;
  display: inline-block;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
@media (min-width: 600px) {
  .advanced-search-boxes .advanced-search-filters .search-filter {
    width: 275px;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 0;
    position: relative;
  }
  .advanced-search-boxes .advanced-search-filters .search-filter span {
    position: absolute;
    padding-top: 5px;
  }
  .advanced-search-boxes .advanced-search-filters .search-filter .advanced-text-search {
    width: 202px;
    margin-left: 63px;
  }
  .advanced-search-boxes .advanced-search-filters .search-select {
    width: 295px;
    padding-right: 0;
  }
}
#subject-search {
  width: 100%;
}
